#general-info-page-container {
  text-align: left; }
  #general-info-page-container #data-container {
    display: flex;
    flex-wrap: wrap; }
  #general-info-page-container .search-field {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  #general-info-page-container .data-box {
    text-align: left;
    border-radius: 10px;
    padding: 25px 1% 1% 1%;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px #888888;
    width: 23.2%;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #DDDDDD; }
  #general-info-page-container .data-box:hover {
    background-color: #EEEEEE; }
  #general-info-page-container .data-title {
    font-weight: 900; }
