#home-page-container {
    text-align: center;
    overflow: hidden;
    height: 100%;

    .content-row {
        margin-top: 6%;
    }
    
    .machine-button {
        width: 600px;
        height: 120px;
        font-size: 40px;
    }
    
    h1 {
        font-size: 50px;
    }
}