#sample-pattern-page-container {
    table {
        width: 70%;
        text-align: center;
    }

    th {
        text-align: center;
        color: green;
    }

    input {
        text-align: center; 
    }
}